<div class="modal-header">
{{project.name}}
</div>
<div class="modal-body">
  <tabset justified="true">

    <tab heading="General Information">
    </br>
      <div class="panel panel-default">
        <div class="panel-heading">Project Name</div>
        <div class="panel-body">{{project.name}}</div>
      </div>
      <div class="panel panel-default" ng-if="project.company != 'undefined'">
        <div class="panel-heading">Company</div>
        <div class="panel-body">{{project.company}}</div>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading">Project Type</div>
        <div class="panel-body">{{project.type}}</div>
      </div>
      <div class="panel panel-default" ng-if="project.status != 'undefined'">
        <div class="panel-heading">Project Status</div>
        <div class="panel-body">{{project.status}}</div>
      </div>
      <div class="panel panel-default" ng-if="project.summary != 'undefined'">
        <div class="panel-heading">Summary</div>
        <div class="panel-body">{{project.summary}}</div>
      </div>
      <div class="panel panel-default" ng-if="project.weblink">
        <div class="panel-heading">Web Link</div>
        <div class="panel-body"><a href="{{project.weblink}}">Case Study {{project.name}}</a></div>
      </div>
    </tab>

    <tab heading="Additional Properties">
    </br>
    <!-- Show error message if project environment is undefined. -->
      <div class="form-group" ng-model="project" ng-if="!project.Environment">
        There are no additional properties yet.
      </div>
    <!-- Show all properties after summary. -->
      <div class="form-group" ng-repeat="(name, status) in project" ng-if="$index >= 6">
        <div class="panel panel-default">
          <div class="panel-heading">{{name}}</div>
          <div class="panel-body">{{status}}</div>
        </div>
      </div>

    </tab>
  </tabset>
</br>
<button class="btn btn-default" ng-click="ok()">Ok</button>

</div>
