<div class="modal-header">
Add a new project
</div>
<div class="modal-body">
  <tabset justified="true">
    <tab heading="General Information">
      <form class="form-horizontal" role="form">
      </br>
      <label>Project Name*:</label> <input type="text" ng-model="newProject.name" class="form-control" placeholder="Name"/><br />
      <label>Project Type*:</label> <input type="text" ng-model="newProject.type" class="form-control" placeholder="Type"/><br />
      <label>Company:</label> <input type="text" ng-model="newProject.company" class="form-control" placeholder="Company"/><br />
      <label>Project Status:</label> <input type="text" ng-model="newProject.status" class="form-control" placeholder="Status"/><br />
      <label>Project Summary:</label> <input type="text" ng-model="newProject.summary" class="form-control" placeholder="Summary"/><br />
      <label>Web Resource:</label> <input type="text" ng-model="newProject.weblink" class="form-control" placeholder="Web link"/><br />
      </br>
    </form>
    </tab>

    <tab heading="Additional Properties" ng-click="data.getProperties()">
        <form class="form-horizontal" role="form">
      </br>

        <div class="form-group">
            <div class="col-sm-5"><label>Property Name</label></div>
            <div class="col-sm-5"><label>Property Value</label></div>
        </div>

        <div class="form-group" ng-repeat="additionalProperty in data.additionalProperties">
          <div class="col-sm-5">
            <input type="text" ng-model="additionalProperty.name" class="form-control">
          </div>
          <div class="col-sm-5">
            <input type="text" ng-model="additionalProperty.value" class="form-control">
          </div>
          <div class="col-sm-1">
            <button class="btn btn-danger" ng-click="deleteAdditionalProperty([$index])">-</button>
          </div>
        </div>
        <div align="right">
          <button class="btn btn-success" ng-click="addAdditionalProperty([$index])">Add another property</button>
        </br>
        </br>
        </div>

    </form>
    </tab>

    <tab heading="Add tags">
</br>
    <div class="panel panel-success">
      <div class="panel-heading">
        <span class="glyphicon glyphicon-info-sign"></span> How to add tags
        <!-- <button type="button" class="close" aria-label="Close" ng-model="test.name"><span aria-hidden="true">&times;</span></button> -->
      </div>
      <div class="panel-body">
        You have two possibilities to add tags: </br>
        <ol type="1">
          <li> Add your own tags by typing them in the first field.
          <li>Fill in some text about your project in the second field and klick "Tag it!". Your text will be structured in a semantic way.
          Afterwards you have the possibility to choose tags of your choice witch fit with your project.</li>
        </ol>
      </div>
    </div>

      <tags-input class="bootstrap" ng-model="tags" rows="3">
      </tags-input>
    </br>

      <div align="right">
        <textarea class="form-control" rows="5" placeholder="Type in some text" ng-model="tagText"></textarea>
      </br>
        <button class="btn btn-success" ng-click="extractTags(tagText)">Tag it!</button>
      </br><small>(This is a service by <a href="http://new.opencalais.com/">Thomson Reuters</a>.) </small></br></br>
      </div>
    </tab>

</tabset>


  <div align="right">
    <button class="btn btn-success" ng-disabled="!isValid()" ng-click="addProject()">Add new Project</button>
    <button class="btn btn-info" ng-click="cancel()">Cancel</button>
  </div>
</div>
</div>
